.page-content{
	background-image: url(img/8.jpg) !important;
	background-size: cover !important;
}
.navbar-inner{
	background-color: rgb( 32, 187, 122) !important;
	height: 30vw;
	padding-top: 15vw;
	color: rgb(255, 255, 255) !important;
	font-size: 8vw !important;

}
.item-content, .item-input, .item-inner, .item-input-wrap, ul{
	background-color: rgba( 32, 187, 122, 0.0)  !important;
	color: rgb(255, 255, 255) !important;
	width: 90vw;
}
.item-title{
	font-size: 6vw !important;
}
li{
	margin-bottom: 15vw !important;
}
.input-focused, .item-input-focused, .active-state{
	font-size: 6vw !important;
	color: rgb(255, 255, 255) !important; 
}
.item-title, .item-label{
	font-size: 6vw !important;
	color: rgb(255, 255, 255) !important;	
}
input{
	font-size: 6vw !important;
	color: rgb(255, 255, 255) !important; 
}
.right, .left{
	padding: 2vw !important;
}

.card{
	padding: 0vw !important;
	background-color: rgba( 32, 187, 122, 0.5)  !important;
}
#respuestaTarjeta{
	height: : 100vw !important;
}