.page-content {
    background-image: url(img/8.jpg) !important;
    background-size: cover !important;
}
.navbar-inner {
    background-color: rgb(32, 187, 122) !important;
    height: 30vw;
    padding-top: 15vw;
    color: rgb(255, 255, 255) !important;
    font-size: 8vw !important;
}
.toolbar-inner{
    color: rgb(255, 255, 255) !important;
    font-size: 6vw !important;
    padding: 2vw !important;
    background-color: rgb(32, 187, 122) !important;
    height: 26vw;
}
ul {
    background-color: rgba(32, 187, 122, 0) !important;
    color: rgb(255, 255, 255) !important;
    width: 90vw;
    border-radius: 15px;
    margin-bottom: 10vw !important;
}
.item-title {
    font-size: 6vw !important;
}
li {
    padding: 2vw !important;
}
.item-title,
.item-label {
    font-size: 6vw !important;
    color: rgb(255, 255, 255) !important;
}
input,
textarea {
    font-size: 6vw !important;
    color: rgb(255, 255, 255) !important;
}
.right,
.left {
    padding: 2vw !important;
}

.card {
    padding: 0vw !important;
    background-color: rgba(32, 187, 122, 0.8) !important;
    border-radius: 18px !important;
}
#respuestaTarjeta {
    height: 50vw !important;
}
.slidepyr{
    height: 102vw !important;
    width: 82vw !important;
    border-radius: 18px !important;
    background-color: rgba(32, 187, 122, 1) !important;
    font-size: 8vw !important;
    padding: 4vw !important;
}
.cuerpo {
    height: 82vw !important;
    background-color: rgb(253, 245, 230) !important;
    border-radius: 18px !important;
    margin-bottom: 1vw !important;
    padding: 2vw !important;
}
.desliza {
    text-align: center !important;
    width: 41vw !important;
    height: 12vw !important;
    padding-top: 2vw !important;
    font-size: 6vw !important;
    border-radius: 25px !important;
    color: rgb(32, 187, 122) !important;
    background-color: rgb(253, 245, 230) !important;
    margin-top: 1vw !important;
    margin-left: 20vw;
    border: 3px solid rgb(32, 187, 122) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.block-strong {
    background-color: rgba(32, 187, 122, 0) !important;
}
:root {
    --f7-fab-size: 20vw !important;
    --f7-button-text-transform: none !important;
    --f7-input-info-text-color: rgb(0, 0, 0) !important;
    --f7-input-clear-button-color: rgba(0, 0, 0, 0.55) !important;
    --f7-input-focused-border-color: rgb(32, 187, 122) !important;
    --f7-input-placeholder-color: rgba(0, 0, 0, 0.70) !important;
}
.button-raised,
.button,
.button-round,
.button-fill {
    margin: 8vw !important;
    height: 15vw !important;
    font-size: 6vw !important;
}
.tarjeta {
    background-color: rgba(32, 187, 122, 0) !important;
    color: rgb(255, 255, 255) !important;
    border: hidden !important;
}
.card {
    background-color: rgba(32, 187, 122, 0.8) !important;
}
a,
.links2 {
    background-color: rgb(253, 245, 230) !important;
    color: rgb(32, 187, 122) !important;
    border: 3px solid rgb(32, 187, 122) !important;
}
.links1 {
    background-color: rgba(32, 187, 122) !important;
    color: rgb(255, 255, 255) !important;
}
.boton {
    padding-top: 1.5vw !important;
}
.fab {
    position: fixed !important;
    bottom: 30px !important;
    right: 30px !important;
}
.divFinal {
    height: 30vw;
}
